<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading text-muted">Online meeting - what to expect?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1</h4>
                                    <h4 class="subheading">Set your appointment <a href="https://psychotherapygratefulmood.simplybook.it/v2/#book">here</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Check the <b>schedule</b> for available hours, pick a time and proceed to <b>payment online</b>. Schedule hours correspond to the <b>UTC+1 Central European Time Zone</b>! Make sure to provide the accurate <b>contact</b> information (e-mail/phone). Once the booking is <b>confirmed</b>, you will receive an e-mail from me. Alternatively, we can schedule a short online meeting for free, in order to get to know each other, before any booking; for that, send me an e-mail at <b>info@gratefulmood.com</b></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2</h4>
                                    <h4 class="subheading">Setup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Make sure to have <b>Skype/Vcall/Signal/E-mail</b> (according to your preference) installed on your device and connect at least <b>10 minutes before</b> the scheduled meeting. Check my article below about <b>how to choose</b> the best communication platform, that protects your data and privacy!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3</h4>
                                    <h4 class="subheading">First meeting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our first meeting will be slightly different than the following ones; the intial contact with a therapist might provoke anxiety or anticipation distress, so in the first part of the meeting, we will focus on the boundaries and <b>style</b> of our collaboration. The sooner we overcome the initial <b>communication</b> obstacles, the more you will notice the benefits of the therapy. We will also discuss about <b>consent, privacy and data protection.</b> Further, I will ask you a set of <b>questions</b>, in order to establish the approach that is suited for you. 
In the second part of the meeting we'll focus on your <b>current concerns</b>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4</h4>
                                    <h4 class="subheading">Followup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If we decide to go on with the therapy, we will start a deeper exploration of your <b>feelings, thoughts and behaviors</b>, in order to get a more profound understanding of how your <b>mind operates</b> and to <b>improve</b> your current situation. This can involve different types of <b>exercises, practical talks, homeworks, simulations,</b> etc. The recommended followup is one meeting/week, during minimum <b>12 weeks</b>. If you decide to sign up for a 12 weeks followup, you will get a 1 session for free.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">

<h2><br><a href="https://psychotherapygratefulmood.simplybook.it/v2/#book">Book</font></a></h2>

                    




                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

