 <!-- Portfolio Modals -->
 {% for post in site.categories.post1 %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            


<h1 align=center id="cognitivebehavioraltherapy">Cognitive behavioral therapy</h1>

<h3 align=justify id="whatisit">What is it?</h3>

<p align=justify>Cognitive behavioral therapy (CBT) is a form of talking therapy that looks at the links between the thoughts, feelings and behaviors, aiming to improve mental health. 
The past experiences influence the way we think and thoughts affect the feelings, which lead to specific behaviors. There is an ongoing interdependent relationship between these three elements, which can lead to vicious circles, or "bad programming", that further causes psychological problems. CBT helps breaking this vicious circle, by learning how to change one's relationship to maladaptive thinking and behave differently, which will further have an impact on the feelings. CBT helps develop personal non-destructive coping mechanisms, that target current problems.</p>

<p align=justify>CBT is a modern form of psychotherapy, that is "problem-solving" and "action-oriented", meaning that it solves specific problems, according to the patient's needs.</p>

<h3 align=left id="whatarethemaintargeteddisorders">What are the main targeted disorders?</h3>

<ul {
  text-align: left;
}>

<li>depression</li>

<li>anxiety</li>

<li>post traumatic stress disorder</li>

<li>substance abuse</li>

<li>smoking cessation</li>

<li>eating disorders</li>

<li>borderline personality disorder</li>

<li>psychological problems related to chronic somatic conditions</li>
</ul>

<h5 align=left>In combination with other therapies, it can be also useful in:</h5>

<ul>
<li>major depressive disorder</li>

<li>bipolar affective disorder</li>

<li>psychotic disorders</li>

<li>obsessive-compulsive disorder</li>
</ul>

<h3 align=left id="whatisthecourseofthetherapy">What is the course of the therapy?</h3>

<p align=justify>The recommended course of CBT is a minimum period of 12 weeks follow-up, including a 50 minute session/week, that covers: learning to identify thoughts, behaviors and feelings, facing vicious circles, producing cognitive-behavioral changes and including all the methods above into the daily practice. The completion of the therapy is essential for a lasting, complete result.</p>

<h4 align=left id="step1">Step 1</h4>

<ul>
<li>Orientation of the patient to CBT and assessing concerns</li>

<li>Setting the initial goals</li>
</ul>

<h4 align=left id="step2">Step 2</h4>

<ul>
<li>Reconceptualisation</li>

<li>Learn &amp; practice: Identifying thoughts, feelings and behaviors</li>

<li>practice and homework</li>
</ul>

<h4 align=left id="step3">Step 3</h4>

<ul>
<li>Skill acquisition</li>

<li>Acknowledging vicious cogs</li>

<li>practice and homework</li>
</ul>

<h4 align=left id="step4">Step 4</h4>

<ul>
<li>Skills consolidation and application training</li>

<li>Making changes in behavior</li>

<li>practice and homework</li>
</ul>

<h4 align=left id="step5">Step 5</h4>

<ul>
<li>Maintenance and generalization</li>

<li>Challenging thoughts and defusing from them</li>

<li>Practice and homework</li>
</ul>

<h4 align=left id="step6">Step 6</h4>

<ul>
<li>Post-treatment follow-up</li>

<li>Practice. Practice. Practice</li>
</ul>

<h3 align=left id="howtoaccess">How to access?</h3>

<p align=left>CBT can be accessed by different means:</p>

<ul>
<li>Face-to-face psychotherapy </li>

<li>Computerized / online therapy (face-to-face call)</li>

<li>Smart phone instant delivered therapy (messaging)</li>

<li>Self-help </li>

<li>Group course</li>
</ul>

<h3 align=left id="references">References</h3>

<ul>
<li><p>The Efficacy of Cognitive Behavioral Therapy: A Review of Meta-analyses
Stefan G. Hofmann, Ph.D., Anu Asnaani, M.A., Imke J.J. Vonk, M.A., Alice T. Sawyer, M.A., and Angela Fang, M.A.</p></li>

<li><p>Efficacy and effectiveness of online cognitive behavioral treatment: a decade of interapy research.
Ruwaard J1, Lange A, Schrieken B, Emmelkamp P.</p></li>

<li><p>The impact of internet-based cognitive behavior therapy on work ability in patients with depression – a randomized controlled study
Dominique Hange,1 Nashmil Ariai,1 Marie Kivi,2 Maria CM Eriksson,1 Shabnam Nejati,1 and Eva-Lisa Petersson1,3</p></li>

<li><p>Online CBT Is Effective in Overcoming Cultural and Language Barriers in Patients With Depression.
Alavi N1, Hirji A, Sutton C, Naeem F.</p></li>

<li><p>Internet-Based Cognitive Behavioral Therapy for Patients With Chronic Somatic Conditions: A Meta-Analytic Review
Monitoring Editor: Gunther Eysenbach
Reviewed by Evan Mayo-Wilson and Martin Härter
Sylvia van Beugen, MSc,corresponding author12 Maaike Ferwerda, MSc,1,2 Dane Hoeve, MSc,2 Maroeska M Rovers, PhD,3 Saskia Spillekom-van Koulil, PhD,2 Henriët van Middendorp, PhD,1,2 and Andrea WM Evers, PhD1,2</p></li>

<li><p>Cognitive Behavior Therapy (CBT) - Suma P. Chand; Martin R. Huecker.</p></li>
</ul>

<ul>
<li>Why Cognitive Behavioral Therapy Is the Current Gold Standard of Psychotherapy
Daniel David,1,2,* Ioana Cristea,1 and Stefan G. Hofmann3</li>
</ul>




                          
                            <ul class="list-inline item-details">
                                
                                <li>Date:
                                    <strong><a>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Category:
                                    <strong><a>{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button align=center type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

 {% for post in site.categories.post2 %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <p>{{ post.description2 }}</p>






<p>Online psychotherapy is the provision of mental health services through the virtual environment, via Internet. It can be used either in addition to classical psyhchotherapy, or as a replacement for it.
This form of counseling was used since the 90s, but it started growing considerably in the last 10 years. </p>

<p>The extension of research in the field of online counseling, delivers promising results: technology could contribute to an evolution of how people receive mental health services, improving the addressability and access to help.</p>

<h3 id="inwhatformcanonlinepsychotherapybedelivered">In what form can online psychotherapy be delivered?</h3>

<ul>
<li>video conferencing </li>

<li>online chat</li>

<li>messaging</li>

<li>e-mails</li>

<li>internet phone calls</li>
</ul>

<h3 id="whatarethebenefits">What are the benefits?</h3>

<p>A growing number of studies in this field (see references) established the efficacy of online counseling at least equal to traditional in-office approach, in certain situations. Here are some potential reasons:</p>

<ol>
<li><strong>Access</strong></li>


<p>An extended category of people can be part of the online environment, such as: rural area population, disabled people, minors, expats. Generally, the internet extends the access to psychotherapy to those who do not find themselves in the proximity of a counseling office.</p>


<li><strong>Cost</strong></li>


<p>Online therapy is generally cheaper than face-to-face services and so, an extended number of people can profit from it.</p>


<li><strong>Appointments</strong></li>


<p>The time schedules for online services tend to be more flexible, and even extended to night-hours or emergency hotlines.</p>


<li><strong>Privacy</strong></li>


<p>In the online environment, patients can choose to stay private, an advantage that is simply unfeasible in traditional in-office setting.</p>


<li><strong>Anxiety &amp; distress</strong></li>

<p>The online approach can offer more comfort to the patient and a decreased level of distress or anticipation anxiety, that are very common in the traditional form of therapy. Behind the screen, the patients simply open up faster, which leads to earlier achievement of collaboration and communication. This can be in the benefit of people who have communication difficulties, who tried face-to-face therapy, but failed to create openness, or simply to those who have a stronger component of shyness in the traits of their personality.</p>
</ol>

<h3 id="arethereanydownsidestoconsider">Are there any down-sides to consider?</h3>

<p>Everything has advantages and disadvantages, so here are some of the down-sides of online counseling:</p>

<ol>
<li><strong>Technology</strong></li>


<p>Unreliable means of communication or connexion can create interruptions in the flow of the session, leading to delayed responses or even communication loss or changes in the schedule.</p>


<li><strong>Confidentiality</strong></li>


<p>The technology nowadays can be attacked or hacked, which could expose the patient to loss of confidentiality. Make sure to choose the means of communications that are suited to your personal desires in terms of confidentiality and data security. Check my article on <strong>Choosing a communication platform</strong>.</p>


<li><strong>Reliability</strong></li>


<p>In the online environment is harder to control and check the psychotherapist's qualifications and reliability. Make sure to ask for proof of qualification (diplomas/certificates) and to check their validity, according to the laws.</p>


<li><strong>Body language</strong></li>


<p>Body language can be a great diagnostic/information tool for psychotherapists and counselors. It can provide the therapist with important additional information related to the patient's feelings or thoughts. Online environment considerably reduces the possibility of observing these elements.</p>
</ol>

<h3 id="effectiveness">Effectiveness</h3>

<p>The main goal of online counseling is to alleviate distress and improve the patient's functionality and approach to challenging life situations. According to different patient-surveys, it was shown that the level of satisfaction and goal achievement was equal in online counseling, compared to traditional psychotherapy, especially for the people functioning at a moderate to high level. Ongoing research will determine whether, in the future, online help could provide benefits for suicidal ideation or psychotic episodes. For more articles related to online psychotherapy, see references.</p>

<h3 id="references">References</h3>

<ul>
<li><p>[Online Counselling: The prospect of a therapeutic connection].
Giotakos O1, Papadomarkaki E1.</p></li>

<li><p>Mixing Online and Face-to-Face Therapy: How to Benefit From Blended Care in Mental Health Care
Monitoring Editor: Gunther Eysenbach
Reviewed by Olivier Blanson Henkemans and Derek Richards
Jobke Wentzel, PhD,1 Rosalie van der Vaart, PhD,2 Ernst T Bohlmeijer, PhD,1 and Julia E W C van Gemert-Pijnen, PhDcorresponding author1</p></li>

<li><p>The Preference for Internet-Based Psychological Interventions by Individuals Without Past or Current Use of Mental Health Treatment Delivered Online: A Survey Study With Mixed-Methods Analysis
Monitoring Editor: Gunther Eysenbach
Reviewed by Peter Giacobbi, Jr., Acacia Parks, and Emma Gliddon
Emma Emmett Karolina Wallin, MSc, Lic Psych,corresponding author1 Susanne Mattsson, RN,2 and Erik Martin Gustaf Olsson, PhD, Lic Psych2</p></li>

<li><p>The Effectiveness of Internet-Based Cognitive Behavioral Therapy in Treatment of Psychiatric Disorders
Monitoring Editor: Alexander Muacevic and John R Adler
Vikram Kumar,corresponding author1 Yasar Sattar,2 Anan Bseiso,3 Sara Khan,4 and Ian H Rutkofsky5</p></li>

<li><p>Ethical Issues in Providing Online Psychotherapeutic Interventions
Craig A Childresscorresponding author
Craig A Childress, Pepperdine University, 3741 Foxglen Ave, La Verne CA 91759, USA, Phone: +1 909 599 3764, Email: moc.loa@gnoskao.</p></li>
</ul>




                          
                            <ul class="list-inline item-details">
                                
                                <li>Date:
                                    <strong><a>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a>{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
