<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted">.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-8">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p class="large text-muted">
                       <p>I am a <b>Medical Doctor</b>, specializing in <b>Psychiatry & Psychotherapy</b>. I hold a Medical Diploma delivered by the University of Medicine and Pharmacy "Iuliu Hatieganu" Cluj-Napoca. I started being interested in mental health and psychiatry from my early years as a medical student, attending psychiatry, psychology and self-help meetups and organising the monthly Psychiatry scientific communication meetup, for one year, in my university.</p>
                       <p>I studied in Romania and France and I'm currently based in Prague, Czech Republic.</p> 
                       <p>My experience in Psychiatry (Clinical University Hospital of Cluj-Napoca, Romania and EPSM Roche-sur-Foron, France), under the guidance of university professors and assistants, offers me the ability to <b>recognize mental health disorders, offer assistance and guidance and therapy followups</b>.</p>
                       <p>My current focuses are <b>Cognitive Behavioral Therapy</b>, <b>DBT - Dialectical behavior therapy</b>, <b>Medical Hypnosis</b> and <b>Lucid dreaming techniques.</b> Check out my notes below.</p>
                       <p>Of course, we can schedule a first online meeting for free. Contact me at <b>info@gratefulmood.com</b> and we will set an appointment. Then, you can describe me your problem, I prepare a therapy approach for you and I explain to you the next steps of our collaboration. </p>
                       <p></p>
                    </p>
                </div>
            </div>
        </div>
    </section>
